# the order of the output of df.groupby()

In [8]:
import numpy as np
import pandas as pd

## generate data

In [9]:
df = pd.DataFrame()

col1 = np.array([['c']*6, ['a']*6]).reshape(12)
col2 = np.array([[3]*6, [5]*6]).reshape(12)

df['col1'] = col1
df['col2'] = col2

df_copy = df.copy()
display(df_copy)

   col1  col2
0     c     3
1     c     3
2     c     3
3     c     3
4     c     3
5     c     3
6     a     5
7     a     5
8     a     5
9     a     5
10    a     5
11    a     5

## test function

### by default, it arrange the output by alphabetic order
ref: https://stackoverflow.com/questions/31689149/using-pandas-dataframe-groupby-without-alphabetical-ordering

In [10]:
df_groupby = df_copy.groupby(['col1']).agg('mean')
display(df_groupby)

      col2
col1
a      5.0
c      3.0

### with param sort=False, it keeps the original df order
ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [11]:
df_groupby_no_sort = df_copy.groupby(['col1'], sort=False).agg('mean')
display(df_groupby_no_sort)

      col2
col1
c      3.0
a      5.0